.conference.video_app__nav {
right:0;
left: auto!important;
top: 3rem;
height: calc(100vh - 8rem);
background-color: transparent;
}
@media screen and (max-width: 768px){
    .conference.video_app__nav {
        height: 100%;
        top: 0;
        z-index: 200000;
        /* padding: 10px; */
    }
}

.conference .video_app__nav.primary-and-secondary {
    width: auto;
    margin-bottom: 5rem;
}
.conference .primary-and-secondary+.video_app__main .title-area, .primary-and-secondary+.video_app__main .content-area {
    margin-left: 0 !important;
    /* margin-right: 10rem; */
}
.conference .video_app__nav.hidden {
    transform: translateX(100%) !important;
    height: 0px;
    width: 0;
    display: none
}
.footer-link--footer-button-link--JEtP9, .footer-link--footer-link--3EuAW {
    width: 100%;
    left:0;
}
.conference .primary-and-secondary+.video_app__main .title-area, .primary-and-secondary+.video_app__main .content-area {
    margin-left: 0;
}
.footer-link--footer-button-link--JEtP9, .footer-link--footer-link--3EuAW {
    left: 0 !important
}

.conference .video_app__body{
    height: 100%;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
    
}