html body, html div, html h1, html h2, html h3, html h4, html h5, html h6, html li, html nav, html ol, html p, html section, html ul {
    line-height: 1.33333em;
    margin: 0;
    padding: 0;
}

html a {
    color: #017a9b;
    text-decoration: none;
}
html body, html div, html h1, html h2, html h3, html h4, html h5, html h6, html li, html nav, html ol, html p, html section, html ul {
    line-height: 1.33333em;
    margin: 0;
    padding: 0;
}
Html img {
    max-width: 100%;
    border-style: none;
    vertical-align: middle;
}
html ol {
    list-style: none;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.video_app__container {
    bottom: 0;
    display: flex;
    font-size: 1rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.video_app__nav {
    background: #0D203B;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(0);
    transition: .2s all ease-in-out;
    z-index: 10;
}

.video_app__nav.primary-and-secondary {
    width: 5rem;
}


.video_app__nav.hidden {
    transform: translateX(-100%);
}
.video_app__nav .nav__a11y-link {
    display: block;
    height: 0;
    left: -999em;
    overflow: hidden;
    position: absolute;
    text-indent: -999em;
    width: 0;
}
.video_app__nav.small-primary .primary-nav, .video_app__nav.primary-and-secondary .primary-nav {
    width: 4.5rem;
}
.video_app__nav .nav__contents {
    display: flex;
    height: 100%;
}
.video_app__nav .nav__contents .primary-nav, .video_app__nav .nav__contents .secondary-nav {
    height: 100%;
}
.video_app__nav .nav__contents .primary-nav {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

._nav, .video_app__nav .nav-large, .video_app__nav .nav-small {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

._layout--nav--1O_NS div[class*=nav-small] {
    align-items: center;
}
/* LOGO */
.video_app__nav .logo {
    flex: 0 0 auto;
    margin: 1rem 0;
}
.logo, .video_app__nav .nav-small .logo {
    margin-left: auto;
    margin-right: auto;
}
.video_app__nav .nav-small .logo {
    width: 3.5rem;
}
/* lOGO END */

.video_app__nav .nav-groups {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: space-between;
}
._nav--nav-group-with-sidebar--2eeny {
    width: 4.5rem;
    margin-top: 1rem;
}
._nav--nav-group-with-sidebar--2eeny a span {
    font-size: .6rem;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 1!important;
    text-indent: 0!important;
    position: relative!important;
}
.video_app__nav .nav-group {
    list-style: none;
    margin: 0;
    padding: 0;
}
html li {
    list-style: none;
}
.video_app__nav .nav-item {
    line-height: 1;
    margin-bottom: .25rem;
}
._nav--nav-group-with-sidebar--2eeny a {
    display: flex;
    flex-direction: column;
}
.video_app__nav .nav-item a {
    align-items: center;
    color: #dbe2e8;
    display: flex;
    padding: .5rem .75rem;
    text-decoration: none;
}
.video_app__nav .nav-item-icon-container {
    display: inline-block;
    position: relative;
    text-align: center;
}
.video_app__nav .nav-item-icon {
    position: relative;
    width: 2rem;
}
.vds-icon {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    fill: #15c26b;
    line-height: 0;
    stroke: #15c26b;
    vertical-align: middle;
}

.vds-icon svg {
    height: 100%;
    width: 100%;
    stroke-width: 0;
}
.vds-icon--lg {
    height: 2.5rem;
    width: 2.5rem;
}
.video_app__nav .nav__contents .secondary-nav {
    background: #2e3d49;
    overflow-y: auto;
    width: 100%;
}
.video_app__nav .nav__contents .primary-nav, .video_app__nav .nav__contents .secondary-nav {
    height: 100%;
}
.index--sidebar-container--WjVqN {
    margin-bottom: 3em;
}
.index--sidebar-hero--1daP_ {
    height: 192px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 16px;
    text-align: center;
}
.index--sidebar-herocolor_scheme4--tNNIh {
    position: relative;
}


.index--sidebar-herocolor_scheme4--tNNIh:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-color: #0D203B;
    background-image: linear-gradient(to bottom right,#0D203B,#15FC78);
    opacity: .8;
}
.index--sidebar-hero--1daP_ .index--image--Mpnje {
    position: absolute;
    top: 0;
    left: 0;
}
.vds-image-loader {
    position: relative;
    height: 192px;
    width: 100%;
}
.vds-image-loader--loaded .vds-image-loader__placeholder, .vds-image-loader--loading .vds-image-loader__full {
    opacity: 0;
}
.vds-image-loader .vds-image-loader__full, .vds-image-loader .vds-image-loader__placeholder {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('https://s3.amazonaws.com/video.udacity-data.com/topher/2017/June/5949531b_react-classroom/react-classroom_thumb_w32_h.jpg');
}

.index--sidebar-hero--1daP_ h4 {
    font-size: 18px;
    margin: 0;
    line-height: 24px;
    color: #fff;
    z-index: 3;
    font-weight: bold;
}

/* Category */

.shared--header--3QkFS {
    align-items: center;
    background-color: rgba(31,41,50,.5);
    box-shadow: inset 0 1px 0 0 rgb(0 0 0 / 50%), inset 0 -1px 0 0 rgb(0 0 0 / 50%);
    display: flex;
    justify-content: space-between;
    max-height: 48px;
    padding: 16px 14px 16px 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
._section--header--3zXV5 {
    position: relative;
}
._section--_hide-shadow--1363R+._section--section--16O72 ._section--header--3zXV5, ._section--_hide-shadow--1363R+._section--section--16O72 ._section--header-expanded--1IpLO, ._section--_hide-shadow--1363R+._section--section-selected--6OnUj ._section--header--3zXV5, ._section--_hide-shadow--1363R+._section--section-selected--6OnUj ._section--header-expanded--1IpLO {
    box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 50%);
}
._section--header--3zXV5:before {
    border-left: 4px solid transparent;
    content: "";
    left: 0;
    top: 0;
    bottom: 1px;
    position: absolute;
}
._section--section-selected--6OnUj ._section--header--3zXV5:before {
    border-left-color: #c8cdd2;
}
.shared--section--3e1zX h2 {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.shared--header--3QkFS h2, .shared--header--3QkFS span {
    color: #c8cdd2;
    transition: all .1s ease-in-out;
}

.shared--header--3QkFS:hover h2, .shared--header--3QkFS:hover span {
    color: #fff;
}

.vds-icon--sm {
    height: 1.5rem;
    width: 1.5rem;
}

.vds-icon svg {
    height: 100%;
    width: 100%;
    stroke-width: 0;
}
._nav--help--1_fHw i {
    width: 3rem;
    height: 3rem;
}
html li {
    list-style: none;
}
._item--item--1xfC2, ._item--item-selected--2C0mp {
    overflow: hidden;
    position: relative;
}


._item--item--1xfC2>a, ._item--item-selected--2C0mp>a {
    align-items: center;
    border-left: 4px solid;
    display: flex;
    font-size: .875rem;
    font-weight: 500;
    height: 7em;
    padding: 1em .75em;
}
._item--item--1xfC2>a {
    color: #c8cdd2;
    border-left-color: transparent;
}
._item--item-selected--2C0mp>a, ._item--item-selected--2C0mp>a:link, ._item--item-selected--2C0mp>a:visited {
    color: #fff;
}

._item--details--bRPx_ {
    display: flex;
    line-height: 1.5em;
    position: relative;
    width: 100%;
    z-index: 2;
}
._item--index--1zkh1 {
    flex: 0 0 auto;
    width: 1.53125rem;
}
._section--section-selected--6OnUj h2, ._section--section-selected--6OnUj span {
    color: #fff;
}
._item--text--3srF2 {
    flex: 1 1 auto;
    margin-right: 1em;
}
._section--section-selected--6OnUj h2, ._section--section-selected--6OnUj span {
    color: #fff;
}
._item--title--3RRb5 {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}
._section--section-selected--6OnUj h2, ._section--section-selected--6OnUj span {
    color: #fff;
}
.text--nowrap-ellipsis--TMdB3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
._item--subtitle--LY2Ze {
    color: #c8cdd2;
    font-size: .62125rem;
    font-weight: 600;
    text-transform: uppercase;
}
._section--section-selected--6OnUj h2, ._section--section-selected--6OnUj span {
    color: #fff;
}
._item--status--1pB8I {
    flex: 0 0 auto;
    align-self: center;
}

.vds-color--green {
    color: #15c26b!important;
}
._item--status--1pB8I {
    flex: 0 0 auto;
    align-self: center;
}
._item--item--1xfC2, ._item--item-selected--2C0mp {
    overflow: hidden;
    position: relative;
}
._item--item--1xfC2:not(:first-child), ._item--item-selected--2C0mp:not(:first-child) {
    border-top: 1px solid #454f58;
}


/* main */

.video_app__main {
    box-sizing: border-box;
    height: 100%;
    min-width: 300px;
    position: relative;
    transition: .2s padding-top ease-in-out;
    width: 100%;
}

.video_app__main .title-area {
    background-color: #fff;
    box-shadow: 0 0 40px rgb(0 0 0 / 20%);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .2s margin-left ease-in-out,.2s margin-right ease-in-out;
    z-index: 9;
}
.primary-and-secondary+.video_app__main .title-area, .primary-and-secondary+.video_app__main .content-area {
    margin-left: 5rem;
}
.video_app__main .title-area, .video_app__main .content-area, .hidden+.video_app__main .title-area, .hidden+.video_app__main .content-area, .none+.video_app__main .title-area, .none+.video_app__main .content-area {
    margin-left: 0;
}


.shared--outer-container--3eppq {
    box-sizing: border-box;
    /* max-width: 1024px; */
    padding: 0 2rem;
    margin: 0 auto;
    width: 100%;
}


._header-content--header--3mdiS, ._header-content--header-small--3sk5P {
    transition: min-height .3s ease-in-out;
    background-color:#0d203b ;
    display: flex;
    align-items: center;
    color: #fff ;
}
._header-content--header--3mdiS {
    max-height: 3rem;
    padding: 5px 0;
}
._header-content--part-info--3iVwL {
    align-items: center;
    display: flex;
    padding: .5rem;
    width: 100%;
}
@media (max-width: 46.24em){
._header-content--part-info--3iVwL p {
    display: none;
}
}
._header-content--header--3mdiS h1, ._header-content--header-small--3sk5P h1 {
    flex: 1 1 auto;
}
._header-content--header--3mdiS h1 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;   
    letter-spacing: 0.1938rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Times New Roman', Times, serif;
    color: #f1f1f1; 

}
@media screen  and (max-width: 480px) {
    ._header-content--header--3mdiS h1 {
        margin-right: 48px;
    }
}
.shared--context-label--1Ij2n {
    font-size: .75rem;
    line-height: 24px;
    letter-spacing: 1.5px;
}
.shared--label-regular--31PUI {
    color: #6d7780;
    font-weight: 600;
    letter-spacing: 1px;
}
._header-content--part-type--1Fn_- {
    text-transform: uppercase;
    flex: 0 0 auto;
}

/* ._header-content--header-small--3sk5P h1 {
    font-size: 1.2rem;
    font-weight: 600;
} */

/* content */
.video_app__main .content-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    transition: .2s padding-top ease-in-out,.2s margin-left ease-in-out,.2s margin-right ease-in-out;
}
.video_app__main .hidden-header {
    visibility: hidden;

}

._header-content--notification-bar--2bUaJ {
    background-color: #fafbfc;
    border-top: 1px solid #dbe2e8;
}
/* .shared--outer-container--3eppq {
    box-sizing: border-box;
    max-width: 1024px;
    padding: 0 2rem;
    margin: 0 auto;
    width: 100%;
} */
@media (max-width: 61.24em){
    .shared--outer-container--3eppq {
        padding: 0 .875rem;
    }
    }
.deadline-bar--container--djlS_ {
    background-color: #fafbfc;
    border-top: 1px solid #dbe2e8;
    position: relative;
}
.deadline-bar--content--X6Lwt {
    background-color: #fafbfc;
    display: flex;
    align-items: center;
    min-height: 48px;
    justify-content: space-between;
}
.deadline-bar--large-info--3EH-W {
    flex-grow: 1;
    font-size: 14px;
    line-height: 16px;
    color: #2e3d49;
}
@media only screen and (max-width: 900px){
.deadline-bar--large-info--3EH-W {
    display: none;
}
}
.deadline-bar--inner-content-container--ofeiZ {
    display: flex;
    align-items: center;
    margin-left: 24px;
    padding-left: 24px;
    position: relative;
}
@media screen and (min-width:900px) {
    .deadline-bar--inner-content-container--ofeiZ:before {
        left: 0;
        position: absolute;
        content: "";
        display: block;
        height: 22px;
        border-left: 1px solid #dbe2e8;
    }
}
@media only screen and (max-width: 900px){
.deadline-bar--inner-content-container--ofeiZ {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
}
.deadline-bar--content-context-label--1mbKu {
    line-height: 100%;
    text-transform: uppercase;
}
.shared--body-small--3ZlvP, .shared--subtitle-small--1lMk2 {
    font-size: .75rem;
    line-height: 16px;
}
.deadline-bar--title--pN0sH {
    display: inline-block;
    margin-right: .5em;
}

.shared--subtitle-small--1lMk2 {
    color: #2e3d49;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.deadline-bar--content-context-label--1mbKu ol {
    display: inline-block;
}
.deadline-bar--project-icon--1f3q2 {
    border-radius: 8px;
    width: 8px;
    height: 8px;
    display: inline-block;
    background: #dbe2e8;
    position: relative;
    margin-right: .5em;
    text-indent: -999em;
    overflow: hidden;
}

/* content body */
.cont.video_app__body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    transition: .3s height ease-in-out;
    background-color: #f1f1f1;
}
 @media screen and (min-width: 900px){
    .cont.video_app__body {
        margin-left: 5rem;
    }
 }
    

.index--container--uI0r1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
}
.index--body--3G2lS {
    flex: 1 1 auto;
    /* margin-bottom: 5rem; */
    height: 100%;
    overflow-y: scroll;
}

._syllabus--container--30zm9 {
    position: relative;
    padding: 2.625rem 2.625rem 1.5rem;
}
html main li, html main p {
    font-size: .875rem;
}
.shared--card--3X88h {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgb(17 22 26 / 16%), 0 0 4px 0 rgb(17 22 26 / 8%), 0 4px 8px 0 rgb(17 22 26 / 4%);
    position: relative;
}
.index--lesson-card--mwX1V {
    margin-bottom: 1.75rem;
    position: relative;
    z-index: 0;
}

.index--container--1pEmR {
    border-radius: 6px;
}
.index--lesson-card--mwX1V .index--scroll-target--kzi6f {
    position: absolute;
    top: -6.125rem;
}
._lesson-collapsed--complete--2RMTn {
    color: #02ccba;
    flex: 0 0 auto;
    font-size: .74375rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
._lesson-collapsed--lesson-collapsed--34zvL {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 46.24em){
._lesson-collapsed--complete--2RMTn ._lesson-collapsed--complete-text--3udav {
    display: none;
}
}
.shared--curtain--2_FSP {
    border-radius: 6px;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -999em;
    top: 0;
    transition: box-shadow .2s ease-in-out;
    width: 100%;
    z-index: 2;
}


._lesson-collapsed--lesson-collapsed--34zvL ._lesson-collapsed--complete--2RMTn h3, ._lesson-collapsed--lesson-collapsed--34zvL ._lesson-collapsed--details--2_eAS h3 {
    font-size: .9625rem;
    font-weight: 600;
    padding: 0;
}
._lesson-collapsed--lesson-collapsed--34zvL ._lesson-collapsed--complete--2RMTn, ._lesson-collapsed--lesson-collapsed--34zvL ._lesson-collapsed--details--2_eAS {
    padding: 2.625rem;
}
@media (max-width: 61.24em){
._lesson-collapsed--lesson-collapsed--34zvL ._lesson-collapsed--complete--2RMTn, ._lesson-collapsed--lesson-collapsed--34zvL ._lesson-collapsed--details--2_eAS {
    padding: 1.75rem .875rem;
}
}


.footer-link--footer-button-link--JEtP9, .footer-link--footer-link--3EuAW {
    background-color: #0d203b;
    border-top: 1px solid #dbe2e8;
    display: block;
    flex: 0 0 auto;
   z-index: 10000;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 5rem;
   height: 5rem;

}
@media (max-width: 61.24em){
.footer-link--footer-button-link--JEtP9, .footer-link--footer-link--3EuAW {
    padding: .8rem 0;
    left:0;
}
}
.footer-link--contents--1AXQE {
    align-items: center;
    display: flex;
    height: 100%;
    /* padding: 10px; */
}
@media (max-width: 61.25em){
    .video_app__nav.primary-and-secondary .footer-link--contents--1AXQE {
        padding-left: 6rem;
    }
}
@media (max-width: 61.25em){
.video_app__nav.hidden .footer-link--contents--1AXQE {
    padding-left: 0;
}
}
.footer-link--footer-button-link--JEtP9 .footer-link--text--1vhx_, .footer-link--footer-link--3EuAW .footer-link--text--1vhx_ {
    flex: 1 1 auto;
    overflow: hidden;
}
.footer-link--footer-button-link--JEtP9 .footer-link--text--1vhx_ h2, .footer-link--footer-button-link--JEtP9 .footer-link--text--1vhx_ h3, .footer-link--footer-link--3EuAW .footer-link--text--1vhx_ h2, .footer-link--footer-link--3EuAW .footer-link--text--1vhx_ h3 {
    color: #525c65;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.footer-link--footer-button-link--JEtP9 .footer-link--text--1vhx_ h3, .footer-link--footer-link--3EuAW .footer-link--text--1vhx_ h3 {
    font-size: 12px;
    line-height: 2em;
    text-transform: uppercase;
}
.footer-link--footer-button-link--JEtP9 .footer-link--text--1vhx_ h2, .footer-link--footer-button-link--JEtP9 .footer-link--text--1vhx_ h3, .footer-link--footer-link--3EuAW .footer-link--text--1vhx_ h2, .footer-link--footer-link--3EuAW .footer-link--text--1vhx_ h3 {
    color: #525c65;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.footer-link--footer-button-link--JEtP9 .footer-link--text--1vhx_ h2, .footer-link--footer-link--3EuAW .footer-link--text--1vhx_ h2 {
    font-size: 18px;
    font-weight: 400;
}
.footer-link--footer-link--3EuAW .footer-link--arrow--21K6x {
    float: right;
    font-size: 2.1875rem;
}
/* hamburger */
.hamburger--hamburger--1oS_7 {
    align-self: flex-start;
    /* margin-right: 1rem; */
}

.vds-round-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: transparent;
    color: #11161a;
    cursor: pointer;
    display: inline-block;
    font-family: Open Sans,sans-serif;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    height: 3rem;
    border-radius: 3rem;
    padding: 0 .5rem;

}
.vds-round-button--minimal-inverse {
    background: transparent;
    color: #fff;
}
.vds-round-button--dark[disabled], .vds-round-button--default[disabled], .vds-round-button--destructive[disabled], .vds-round-button--minimal, .vds-round-button--minimal-inverse, .vds-round-button--minimal-inverse:active, .vds-round-button--minimal-inverse:hover,.vds-round-button--minimal-inverse:focus .vds-round-button--minimal:active, .vds-round-button--minimal:hover, .vds-round-button--primary[disabled], .vds-round-button--secondary[disabled], fieldset[disabled] .vds-round-button--dark, fieldset[disabled] .vds-round-button--default, fieldset[disabled] .vds-round-button--destructive, fieldset[disabled] .vds-round-button--primary, fieldset[disabled] .vds-round-button--secondary {
    box-shadow: none;
    outline: none;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.vds-round-button__content {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}
.vds-color--cerulean {
    color: #0c81a1!important;
    fill:#078cb1;

}
.vds-round-button .vds-icon {
    margin: 0;
}

